# editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true
indent_size = 4

[*.php]
indent_style = tab

[*.rb]
indent_size = 2
